body {
    background-color: grey;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100vw;
}
 .inner, .form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}
.inner {
    justify-content: flex-start;
}
.title {
    border-bottom: 5px solid black;
    width: 100%;
}
h2 {
    text-align: center; 
    display: block;
}
.result, .res {
    display: none;
    height: 23vh;
    width: 99%;
    background-color: #88ba86;
    border: 5px solid black;
    margin-top: 7px;
}
.inner {
    width: 93.5%;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    height: 50vh;
    padding: 0 30px 30px 30px;
    background-color: #88ba86;
}
span {
    display: inline-block;
    margin-bottom: 30px;
}
.inp {
    height: 20px;
    width: 200px;
}
button {
    height: 20px;
    appearance: none;
    border-radius: 12px;
    border: none;
    width: 100px;
    cursor: pointer;
}
.word {
    color: green;
}
.cont {
    display : flex;
}
.right{
    flex-grow: 1.5;
    width: 85%;
}
.left {
    display: flex;
    flex-direction: column;
    width: 15vw;
}
a {
    display: block;
    margin: 15px;
    padding-left: 30px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.col-sm-2 {
    font-size: 12px;
}
label {
    width: 100px;

}
.btn {
    width: 200px;
    height: 30px;
}
#true {
    color: green;
}
#false {
    color: red;
}
.resultTrue {
    display: none;
}
.resultFalse {
    display: none;
}
.res{
    width: 93.5%;
}
.res > p {
text-align: center;
}